.main-container {
    width: 100vw;
    margin-top: 80px;
    padding: 4px;
    display: flex;
}

.sidebar {
    width: 24vw;
    background-color: var(--gray);
    margin: 0 0.4vw;
    padding: 20px;
    border-radius: 4px;
}

/* MAIN CONTENT PLAY YOUR MUSIC */
.main-content {
    width: 52vw;
    background: linear-gradient(var(--light_gray), var(--gray));
    margin-right: 0.4vw;
    padding-bottom: 100px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.content__header {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 24px 32px;
    margin-bottom: 24px;
    background: linear-gradient(to right, var(--light_gray), var(--gray));
    border-radius: 8px 8px 0 0;
}

.content__header--background {
    width: 180px;
    height: 180px;
    /* background-color: var(--light_gray); */
    box-shadow: 16px 16px 16px rgba(22, 22, 22, 0.397);
    border-radius: 4px;
    transition: transform 0.3s ease;
    background-position: center;
    margin-right: 24px;
}

.content__header--info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.content__header--info p {
    font-size: 1.4rem;
    font-weight: 700;
}

.content__header--song-name {
    font-size:  4vw;
    font-weight: bold;
}

.content__header--data, .content__data--release {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 1.4rem;
}

.content__data--author {
    font-weight: bold;
    font-size: 1.6rem;
}

.content__data--author:hover {
    text-decoration: underline;
}

.content__data--release span::before {
    content: "•";
    margin-right: 4px;
    font-size: 1.6rem;
    font-weight: 700;
}

.content__play {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content__play--box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 24px;
}

.content__play--btn {
    width: 60px;
    height: 60px;
    background-color: var(--green);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content__play--btn i {
    /* transform: translateX(50%); */
    color: black;
    font-size: 2.4rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.content__play--btn:hover {
    transform: scale(1.05);
    background-color: var(--light_green);
}

.content__play--save, .content__play--download {
    width: 32px;
    height: 32px;
    background-color: var(--transparent);
    border: 3px solid var(--muted);
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border 0.3s ease, transform 0.3s ease;
}

.content__play--save:hover, .content__play--download:hover {
    border: 3px solid var(--white);
    transform: scale(1.1);
}

.content__play--options {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.content__play--options:hover {
    transform: scale(1.1);
}

.content__play--save:hover i, .content__play--download:hover i, .content__play--options:hover i {
    color: var(--white);
}

.content__play--lyrics {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 24px;
    margin-top: 12px;
}

.content__lyrics--title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 12px;
}

.content__lyrics--text {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--muted);
    line-height: 1.6;
}

.content__lyrics--more {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
    transition: transform 0.3s ease
}

.content__author {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 24px;
    margin-top: 12px;
}

.content__author--profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.content__author--background {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}


/* PLAY VIEW YOUR MUSIC */
.play-view {
    width: 24vw;
    background-color: var(--gray);
    margin-right: 0.4vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

/* PLAYER CONTROL THE MUSIC */
.player {
    width: 100vw;
    height: 80px;
    background-color: black;
    display: flex;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.player__song {
    /* background-color: aliceblue; */
    width: 24vw;
    margin-left: 4px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.player__song--background {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
}

.player__song--name {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

.player__song--name:hover {
    text-decoration: underline;
}

.player__song--author {
    color: var(--muted);
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    gap: 4px;
}

.player__author--name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.player__song--save {
    width: 20px;
    height: 20px;
    background-color: var(--transparent);
    border: 3px solid var(--muted);
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* transition: border 0.3s ease, transform 0.3s ease; */
}

.player__song--save:hover {
    transform: scale(1.01);
    border: 3px solid var(--white);
}

.player__song--save:hover i {
    color: var(--white);
}

.player__play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player__play--box {
    display: flex;
    gap: 24px;
    font-size: 1.8rem;
}

.player__play--btn {
    width: 28px;
    height: 28px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.player__play--btn:hover {
    cursor: pointer;
}

.player__play--btn i {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.player__play--progress {
    display: flex;
    width: 40vw;
    font-size: 1.6rem;
    gap: 12px;
}

.player__progress--bar {
    width: 100%;
    height: 6px;
    background: #333;
    border-radius: 3px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}

.progress {
    background: linear-gradient(90deg, var(--green), var(--light_green));
    height: 100%;
    width: 00%;
    border-radius: 3px;
    transition: width 0.1s linear;
}

.player__progress--current,
.player__progress--duration {
    color: var(--muted);
    width: 60px;
    text-align: center;
    font-weight: 600;
}

.player__tool {
    width: 24vw;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 24px;
    font-size: 1.6rem;
}

.player__tool--lyric:hover, .player__tool--queue:hover, .player__tool--connect:hover, .player__tool--volume:hover {
   cursor: pointer;
}

.player__tool--volume {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.player__volume--bar {
    width: 100%;
    height: 6px;
    background-color: var(--light_gray);
    border-radius: 3px;
    margin: 10px 0;
    cursor: pointer;
}

.player__volume--bar .volume {
    background: linear-gradient(to right, var(--green), var(--light_green));
    height: 100%;
    width: 40%;
    border-radius: 3px;
    transition: width 0.1s linear;
}